.button--medium {
  width: 56px;
  height: 14px;
  padding:10px;
position: relative;
    behavior: url(//assets3.iknow.jp/_assets/ie/css3_pie-7f460ab….htc);
    box-sizing: border-box;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    vertical-align: middle;
    background: #666;
    transition: background-color 70ms linear;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    line-height: 1;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}


.button--teal {
  /* padding: 100px; */
  background: #0178CD;
}
